__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
.gitignore
nosetests.xml
coverage.xml
.flake8
*,cover
.git
venv
.pre-commit-config.yaml
.pre-commit-hooks.yaml