@keyframes load {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes animation-open-popup {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    25% {
        opacity: .1;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }

    50% {
        opacity: .3;
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }

    75% {
        opacity: .5;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
