.spacer {
    display: flex;
    width: 20px;
}

.spacer__ml {
    display: flex;
    width: 30px;
}


.spacer__s {
    display: flex;
    width: 14px;
}


.spacer__xs {
    display: flex;
    width: 8px;
}

.spacer__xss {
    display: flex;
    margin: 4px;
}

.spacer__l {
    display: flex;
    width: 36px;
}


.spacer__xl {
    display: flex;
    width: 50px;
}

.spacer__xxl {
    display: flex;
    width: 80px;
}
