.input {
    background: none;
    width: 100%;
    outline: none;
    margin-top: 3px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color);
    padding: 0 9px;
    height: 35px;
    border-radius: 10px;
    background: var(--color-body);
    border: 1px solid var(--color);
    transition: all 0.2s linear;

    &:disabled {
        cursor: default;
        opacity: 0.8;
    }

    &:not(:disabled):focus, &:not(:disabled):active {
        background: var(--color-white);
    }
}
